{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="text-center mt-2">Bienvenue</h1>
    {% else %}
        <h1 class="text-center mt-2">Accueil</h1>
    {% endif %}
{% endblock %}
