.bg-primary{
    background-color: #E83283 !important;
    border-color: #E83283 !important;
}

.bg-secondary{
    background-color: #A6BEE0 !important;
    border-color: #A6BEE0 !important;
}

.bg-success{
    background-color: #37B78E !important;
    border-color: #37B78E !important;
}

.bg-info{
    background-color: #30ADD5 !important;
    border-color: #30ADD5 !important;
}

.bg-warning{
    background-color: #D9A406 !important;
    border-color: #D9A406 !important;
}

.bg-danger{
    background-color: #D76B11 !important;
    border-color: #D76B11 !important;
}

.bg-light{
    background-color: #E9E9E8 !important;
    border-color: #E9E9E8 !important;
}

.bg-dark{
    background-color: #212529 !important;
    border-color: #212529 !important;
}
