{% extends 'base.html.twig' %}

{% block title %}Gestions des utlisateurs{% endblock %}

{% block body %}

    <section class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <a class="btn btn-info" href="{{ path('create_user') }}">Crée un utilisateur</a>
        </div>
    </section>

{% endblock %}
